<form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="selectedDate" ngbDatepicker #d="ngbDatepicker" [minDate]="selectedDate" (dateSelect)= "onDateSelect()" >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
      
    </div>
    
     
  </form>

  Appointment time : <input #time type="text" value="10:00">

  <button type="button" (click) = "save()">Test Click</button>


  <div class="container"><br />
    <h1>Send The Email</h1><br />
    <form action="/send-email" method="post">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="form-group col-md-4">
          <label for="to">To:</label>
          <input type="email" class="form-control" name="to" [(ngModel)]="toMail">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="form-group col-md-4">
          <label for="subject">Subject:</label>
          <input type="text" class="form-control" name="subject" [(ngModel)]="subject">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
          <div class="form-group col-md-4">
            <label for="body">Body:</label>
            <textarea cols="5" rows="5"class="form-control" name="body" [(ngModel)]="body"></textarea>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="form-group col-md-4">
          <button type="button" class="btn btn-success" (click) = "sendEmail()">Send</button>
        </div>
      </div>
    </form>
  </div>
