
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1486.1868255512622!2d-74.10615019161527!3d41.84178365510042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dd1be9209ca8dd%3A0x63894345aba6c36f!2s11%20John%20Taylor%20Dr%2C%20Rosendale%2C%20NY%2012472!5e0!3m2!1sen!2sus!4v1569003640807!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<app-client></app-client> 
<app-admin></app-admin>